*
!/**/
!*.*
/*.sublime-workspace
/*.a
/*.img
/*.o
epos2trunk/*.a
epos2trunk/*.img
epos2trunk/*.o
epos2trunk/*.sublime-workspace
epos2trunk/.cproject
epos2trunk/.epos_flag_file.txt
epos2trunk/.project
epos2trunk/.settings
epos2trunk/.svn
epos2trunk/app/*.a
epos2trunk/app/*.img
epos2trunk/app/*.o
epos2trunk/bin/**
epos2trunk/bin/*.a
epos2trunk/bin/*.img
epos2trunk/bin/*.o
epos2trunk/bin/*.sublime-workspace
epos2trunk/bin/.epos_flag_file.txt
epos2trunk/bin/.svn
epos2trunk/etc/*.a
epos2trunk/etc/*.img
epos2trunk/etc/*.o
epos2trunk/etc/*.sublime-workspace
epos2trunk/etc/.epos_flag_file.txt
epos2trunk/etc/.svn
epos2trunk/etc/eposcc.conf
epos2trunk/etc/eposmkbi.conf
epos2trunk/img/**
epos2trunk/img/*.a
epos2trunk/img/*.img
epos2trunk/img/*.o
epos2trunk/include/*.a
epos2trunk/include/*.img
epos2trunk/include/*.o
epos2trunk/include/*.sublime-workspace
epos2trunk/include/.epos_flag_file.txt
epos2trunk/include/.svn
epos2trunk/include/architecture/*.a
epos2trunk/include/architecture/*.img
epos2trunk/include/architecture/*.o
epos2trunk/include/architecture/*.sublime-workspace
epos2trunk/include/architecture/.epos_flag_file.txt
epos2trunk/include/architecture/.svn
epos2trunk/include/architecture/armv7/*.a
epos2trunk/include/architecture/armv7/*.img
epos2trunk/include/architecture/armv7/*.o
epos2trunk/include/architecture/armv7/*.sublime-workspace
epos2trunk/include/architecture/armv7/.epos_flag_file.txt
epos2trunk/include/architecture/armv7/.svn
epos2trunk/include/architecture/ia32/*.a
epos2trunk/include/architecture/ia32/*.img
epos2trunk/include/architecture/ia32/*.o
epos2trunk/include/architecture/ia32/*.sublime-workspace
epos2trunk/include/architecture/ia32/.epos_flag_file.txt
epos2trunk/include/architecture/ia32/.svn
epos2trunk/include/aspect/*.a
epos2trunk/include/aspect/*.img
epos2trunk/include/aspect/*.o
epos2trunk/include/aspect/*.sublime-workspace
epos2trunk/include/aspect/.epos_flag_file.txt
epos2trunk/include/aspect/.svn
epos2trunk/include/framework/*.a
epos2trunk/include/framework/*.img
epos2trunk/include/framework/*.o
epos2trunk/include/framework/*.sublime-workspace
epos2trunk/include/framework/.epos_flag_file.txt
epos2trunk/include/framework/.svn
epos2trunk/include/machine/*.a
epos2trunk/include/machine/*.img
epos2trunk/include/machine/*.o
epos2trunk/include/machine/*.sublime-workspace
epos2trunk/include/machine/.epos_flag_file.txt
epos2trunk/include/machine/.svn
epos2trunk/include/machine/common/*.a
epos2trunk/include/machine/common/*.img
epos2trunk/include/machine/common/*.o
epos2trunk/include/machine/common/*.sublime-workspace
epos2trunk/include/machine/common/.epos_flag_file.txt
epos2trunk/include/machine/common/.svn
epos2trunk/include/machine/cortex/*.a
epos2trunk/include/machine/cortex/*.img
epos2trunk/include/machine/cortex/*.o
epos2trunk/include/machine/cortex/*.sublime-workspace
epos2trunk/include/machine/cortex/.epos_flag_file.txt
epos2trunk/include/machine/cortex/.svn
epos2trunk/include/machine/pc/*.a
epos2trunk/include/machine/pc/*.img
epos2trunk/include/machine/pc/*.o
epos2trunk/include/machine/pc/*.sublime-workspace
epos2trunk/include/machine/pc/.epos_flag_file.txt
epos2trunk/include/machine/pc/.svn
epos2trunk/include/system/*.a
epos2trunk/include/system/*.img
epos2trunk/include/system/*.o
epos2trunk/include/system/*.sublime-workspace
epos2trunk/include/system/.epos_flag_file.txt
epos2trunk/include/system/.svn
epos2trunk/include/utility/*.a
epos2trunk/include/utility/*.img
epos2trunk/include/utility/*.o
epos2trunk/include/utility/*.sublime-workspace
epos2trunk/include/utility/.epos_flag_file.txt
epos2trunk/include/utility/.svn
epos2trunk/lib/**
epos2trunk/src/*.a
epos2trunk/src/*.img
epos2trunk/src/*.o
epos2trunk/src/*.sublime-workspace
epos2trunk/src/.epos_flag_file.txt
epos2trunk/src/.svn
epos2trunk/src/architecture/*.a
epos2trunk/src/architecture/*.img
epos2trunk/src/architecture/*.o
epos2trunk/src/architecture/*.sublime-workspace
epos2trunk/src/architecture/.epos_flag_file.txt
epos2trunk/src/architecture/.svn
epos2trunk/src/architecture/armv7/*.a
epos2trunk/src/architecture/armv7/*.img
epos2trunk/src/architecture/armv7/*.o
epos2trunk/src/architecture/armv7/*.sublime-workspace
epos2trunk/src/architecture/armv7/.epos_flag_file.txt
epos2trunk/src/architecture/armv7/.svn
epos2trunk/src/architecture/ia32/*.a
epos2trunk/src/architecture/ia32/*.img
epos2trunk/src/architecture/ia32/*.o
epos2trunk/src/architecture/ia32/*.sublime-workspace
epos2trunk/src/architecture/ia32/.epos_flag_file.txt
epos2trunk/src/architecture/ia32/.svn
epos2trunk/src/boot/*.a
epos2trunk/src/boot/*.img
epos2trunk/src/boot/*.o
epos2trunk/src/boot/*.sublime-workspace
epos2trunk/src/boot/.epos_flag_file.txt
epos2trunk/src/boot/.svn
epos2trunk/src/boot/pc_boot
epos2trunk/src/boot/pc_boot.s
epos2trunk/src/component/*.a
epos2trunk/src/component/*.img
epos2trunk/src/component/*.o
epos2trunk/src/component/*.sublime-workspace
epos2trunk/src/component/.epos_flag_file.txt
epos2trunk/src/component/.svn
epos2trunk/src/init/*.a
epos2trunk/src/init/*.img
epos2trunk/src/init/*.o
epos2trunk/src/init/*.sublime-workspace
epos2trunk/src/init/.epos_flag_file.txt
epos2trunk/src/init/.svn
epos2trunk/src/machine/*.a
epos2trunk/src/machine/*.img
epos2trunk/src/machine/*.o
epos2trunk/src/machine/*.sublime-workspace
epos2trunk/src/machine/.epos_flag_file.txt
epos2trunk/src/machine/.svn
epos2trunk/src/machine/common/*.a
epos2trunk/src/machine/common/*.img
epos2trunk/src/machine/common/*.o
epos2trunk/src/machine/common/*.sublime-workspace
epos2trunk/src/machine/common/.epos_flag_file.txt
epos2trunk/src/machine/common/.svn
epos2trunk/src/machine/cortex/*.a
epos2trunk/src/machine/cortex/*.img
epos2trunk/src/machine/cortex/*.o
epos2trunk/src/machine/cortex/*.sublime-workspace
epos2trunk/src/machine/cortex/.epos_flag_file.txt
epos2trunk/src/machine/cortex/.svn
epos2trunk/src/machine/pc/*.a
epos2trunk/src/machine/pc/*.img
epos2trunk/src/machine/pc/*.o
epos2trunk/src/machine/pc/*.sublime-workspace
epos2trunk/src/machine/pc/.epos_flag_file.txt
epos2trunk/src/machine/pc/.svn
epos2trunk/src/setup/*.a
epos2trunk/src/setup/*.img
epos2trunk/src/setup/*.o
epos2trunk/src/setup/*.sublime-workspace
epos2trunk/src/setup/.epos_flag_file.txt
epos2trunk/src/setup/.svn
epos2trunk/src/setup/pc_setup
epos2trunk/src/system/*.a
epos2trunk/src/system/*.img
epos2trunk/src/system/*.o
epos2trunk/src/system/*.sublime-workspace
epos2trunk/src/system/.epos_flag_file.txt
epos2trunk/src/system/.svn
epos2trunk/src/utility/*.a
epos2trunk/src/utility/*.img
epos2trunk/src/utility/*.o
epos2trunk/src/utility/*.sublime-workspace
epos2trunk/src/utility/.epos_flag_file.txt
epos2trunk/src/utility/.svn
epos2trunk/tools/*.a
epos2trunk/tools/*.img
epos2trunk/tools/*.o
epos2trunk/tools/*.sublime-workspace
epos2trunk/tools/.epos_flag_file.txt
epos2trunk/tools/.svn
epos2trunk/tools/eposcc/*.a
epos2trunk/tools/eposcc/*.img
epos2trunk/tools/eposcc/*.o
epos2trunk/tools/eposcc/*.sublime-workspace
epos2trunk/tools/eposcc/.epos_flag_file.txt
epos2trunk/tools/eposcc/.svn
epos2trunk/tools/eposcfg/*.a
epos2trunk/tools/eposcfg/*.img
epos2trunk/tools/eposcfg/*.o
epos2trunk/tools/eposcfg/*.sublime-workspace
epos2trunk/tools/eposcfg/.epos_flag_file.txt
epos2trunk/tools/eposcfg/.svn
epos2trunk/tools/eposcfg/eposcfg
epos2trunk/tools/eposflash/*.a
epos2trunk/tools/eposflash/*.img
epos2trunk/tools/eposflash/*.o
epos2trunk/tools/eposflash/*.sublime-workspace
epos2trunk/tools/eposflash/.epos_flag_file.txt
epos2trunk/tools/eposflash/.svn
epos2trunk/tools/eposiotgw/*.a
epos2trunk/tools/eposiotgw/*.img
epos2trunk/tools/eposiotgw/*.o
epos2trunk/tools/eposiotgw/*.sublime-workspace
epos2trunk/tools/eposiotgw/.epos_flag_file.txt
epos2trunk/tools/eposiotgw/.svn
epos2trunk/tools/eposiotgw/gateway_daemon.egg-info/*.a
epos2trunk/tools/eposiotgw/gateway_daemon.egg-info/*.img
epos2trunk/tools/eposiotgw/gateway_daemon.egg-info/*.o
epos2trunk/tools/eposiotgw/gateway_daemon.egg-info/*.sublime-workspace
epos2trunk/tools/eposiotgw/gateway_daemon.egg-info/.epos_flag_file.txt
epos2trunk/tools/eposiotgw/gateway_daemon.egg-info/.svn
epos2trunk/tools/eposiotgw/gateway_daemon/*.a
epos2trunk/tools/eposiotgw/gateway_daemon/*.img
epos2trunk/tools/eposiotgw/gateway_daemon/*.o
epos2trunk/tools/eposiotgw/gateway_daemon/*.sublime-workspace
epos2trunk/tools/eposiotgw/gateway_daemon/.epos_flag_file.txt
epos2trunk/tools/eposiotgw/gateway_daemon/.svn
epos2trunk/tools/eposiotgw/gateway_daemon/modbus/*.a
epos2trunk/tools/eposiotgw/gateway_daemon/modbus/*.img
epos2trunk/tools/eposiotgw/gateway_daemon/modbus/*.o
epos2trunk/tools/eposiotgw/gateway_daemon/modbus/*.sublime-workspace
epos2trunk/tools/eposiotgw/gateway_daemon/modbus/.epos_flag_file.txt
epos2trunk/tools/eposiotgw/gateway_daemon/modbus/.svn
epos2trunk/tools/eposiotgw/gateway_daemon/mote/*.a
epos2trunk/tools/eposiotgw/gateway_daemon/mote/*.img
epos2trunk/tools/eposiotgw/gateway_daemon/mote/*.o
epos2trunk/tools/eposiotgw/gateway_daemon/mote/*.sublime-workspace
epos2trunk/tools/eposiotgw/gateway_daemon/mote/.epos_flag_file.txt
epos2trunk/tools/eposiotgw/gateway_daemon/mote/.svn
epos2trunk/tools/eposmkbi/*.a
epos2trunk/tools/eposmkbi/*.img
epos2trunk/tools/eposmkbi/*.o
epos2trunk/tools/eposmkbi/*.sublime-workspace
epos2trunk/tools/eposmkbi/.epos_flag_file.txt
epos2trunk/tools/eposmkbi/.svn
epos2trunk/tools/eposmkbi/eposmkbi
epos2trunk/tools/epossectst/*.a
epos2trunk/tools/epossectst/*.img
epos2trunk/tools/epossectst/*.o
epos2trunk/tools/epossectst/*.sublime-workspace
epos2trunk/tools/epossectst/.epos_flag_file.txt
epos2trunk/tools/epossectst/.svn
*.exe
