* eol=lf
/.gitattributes eol=crlf
/OperatingSystems.sublime-project -text
/README.md -text
/parameter_pack_sequencer_size_expanded.cpp eol=lf
epos2trunk/LICENSE -text
epos2trunk/app/cas_test.cc eol=lf
epos2trunk/app/compile_remotely.sh eol=lf
epos2trunk/app/future_guard_test.cc eol=lf
epos2trunk/app/ip_test.cc -text
epos2trunk/app/ip_test_traits.h -text
epos2trunk/app/makefile -text
epos2trunk/app/scheduler_cpu_affinity_test.cc -text
epos2trunk/app/scheduler_cpu_affinity_test_traits.h -text
epos2trunk/app/semaphore_test.cc -text
epos2trunk/app/semaphore_test_traits.h -text
epos2trunk/app/synchronizer_test.cc -text
epos2trunk/app/synchronizer_test_traits.h -text
epos2trunk/app/task_test.cc -text
epos2trunk/app/task_test_traits.h -text
epos2trunk/app/tstp_gateway.cc -text
epos2trunk/app/tstp_gateway_traits.h -text
epos2trunk/app/tstp_pcap_sniffer.cc -text
epos2trunk/app/tstp_pcap_sniffer_traits.h -text
epos2trunk/app/tstp_sensor.cc -text
epos2trunk/app/tstp_sensor_traits.h -text
epos2trunk/choose_a_compiler.sh eol=lf
epos2trunk/compile_and_run.sh eol=lf
epos2trunk/etc/makefile eol=lf
epos2trunk/img/makefile -text
epos2trunk/include/active.h -text
epos2trunk/include/adc.h -text
epos2trunk/include/address_space.h -text
epos2trunk/include/aes.h -text
epos2trunk/include/alarm.h -text
epos2trunk/include/application.h -text
epos2trunk/include/architecture/armv7/cpu.h -text
epos2trunk/include/architecture/armv7/mmu.h -text
epos2trunk/include/architecture/armv7/pmu.h -text
epos2trunk/include/architecture/armv7/traits.h -text
epos2trunk/include/architecture/armv7/tsc.h -text
epos2trunk/include/architecture/ia32/cpu.h -text
epos2trunk/include/architecture/ia32/mmu.h -text
epos2trunk/include/architecture/ia32/pmu.h -text
epos2trunk/include/architecture/ia32/traits.h -text
epos2trunk/include/architecture/ia32/tsc.h -text
epos2trunk/include/arp.h -text
epos2trunk/include/aspect/authenticated.h -text
epos2trunk/include/aspect/shared.h -text
epos2trunk/include/channel.h -text
epos2trunk/include/chronometer.h -text
epos2trunk/include/clock.h -text
epos2trunk/include/communicator.h -text
epos2trunk/include/condition.h -text
epos2trunk/include/cpu.h -text
epos2trunk/include/dhcp.h -text
epos2trunk/include/display.h -text
epos2trunk/include/eeprom.h -text
epos2trunk/include/ethernet.h -text
epos2trunk/include/fpga.h -text
epos2trunk/include/framework/adapter.h -text
epos2trunk/include/framework/agent.h -text
epos2trunk/include/framework/handle.h -text
epos2trunk/include/framework/id.h -text
epos2trunk/include/framework/ipc.h -text
epos2trunk/include/framework/main.h -text
epos2trunk/include/framework/message.h -text
epos2trunk/include/framework/proxy.h -text
epos2trunk/include/framework/scenario.h -text
epos2trunk/include/framework/stub.h -text
epos2trunk/include/gpio.h -text
epos2trunk/include/guard.h -text
epos2trunk/include/i2c.h -text
epos2trunk/include/ic.h -text
epos2trunk/include/icmp.h -text
epos2trunk/include/ieee802_15_4.h -text
epos2trunk/include/ip.h -text
epos2trunk/include/keyboard.h -text
epos2trunk/include/machine.h -text
epos2trunk/include/machine/common/ieee802_15_4_mac.h -text
epos2trunk/include/machine/common/tstp_mac.h -text
epos2trunk/include/machine/cortex/adc.h -text
epos2trunk/include/machine/cortex/aes.h -text
epos2trunk/include/machine/cortex/cc2538.h -text
epos2trunk/include/machine/cortex/emote3.h -text
epos2trunk/include/machine/cortex/emote3_traits.h -text
epos2trunk/include/machine/cortex/gem.h -text
epos2trunk/include/machine/cortex/gpio.h -text
epos2trunk/include/machine/cortex/i2c.h -text
epos2trunk/include/machine/cortex/ic.h -text
epos2trunk/include/machine/cortex/info.h -text
epos2trunk/include/machine/cortex/lm3s811.h -text
epos2trunk/include/machine/cortex/lm3s811_traits.h -text
epos2trunk/include/machine/cortex/m95.h -text
epos2trunk/include/machine/cortex/machine.h -text
epos2trunk/include/machine/cortex/memory_map.h -text
epos2trunk/include/machine/cortex/nic.h -text
epos2trunk/include/machine/cortex/pwm.h -text
epos2trunk/include/machine/cortex/rs485.h -text
epos2trunk/include/machine/cortex/rtc.h -text
epos2trunk/include/machine/cortex/spi.h -text
epos2trunk/include/machine/cortex/timer.h -text
epos2trunk/include/machine/cortex/uart.h -text
epos2trunk/include/machine/cortex/usb.h -text
epos2trunk/include/machine/cortex/watchdog.h -text
epos2trunk/include/machine/cortex/zynq.h -text
epos2trunk/include/machine/cortex/zynq_traits.h -text
epos2trunk/include/machine/pc/aes.h -text
epos2trunk/include/machine/pc/c905.h -text
epos2trunk/include/machine/pc/display.h -text
epos2trunk/include/machine/pc/e100.h -text
epos2trunk/include/machine/pc/eeprom.h -text
epos2trunk/include/machine/pc/fpga.h -text
epos2trunk/include/machine/pc/ic.h -text
epos2trunk/include/machine/pc/info.h -text
epos2trunk/include/machine/pc/keyboard.h -text
epos2trunk/include/machine/pc/legacy_pc_traits.h -text
epos2trunk/include/machine/pc/machine.h -text
epos2trunk/include/machine/pc/memory_map.h -text
epos2trunk/include/machine/pc/nic.h -text
epos2trunk/include/machine/pc/pci.h -text
epos2trunk/include/machine/pc/pcnet32.h -text
epos2trunk/include/machine/pc/rtc.h -text
epos2trunk/include/machine/pc/scratchpad.h -text
epos2trunk/include/machine/pc/timer.h -text
epos2trunk/include/machine/pc/uart.h -text
epos2trunk/include/mifare.h -text
epos2trunk/include/mmu.h -text
epos2trunk/include/mutex.h -text
epos2trunk/include/network.h -text
epos2trunk/include/nic.h -text
epos2trunk/include/pcap.h -text
epos2trunk/include/pci.h -text
epos2trunk/include/periodic_thread.h -text
epos2trunk/include/pmu.h -text
epos2trunk/include/pwm.h -text
epos2trunk/include/rfid_reader.h -text
epos2trunk/include/rs485.h -text
epos2trunk/include/rtc.h -text
epos2trunk/include/scheduler.h -text
epos2trunk/include/scratchpad.h -text
epos2trunk/include/segment.h -text
epos2trunk/include/semaphore.h -text
epos2trunk/include/smart_data.h -text
epos2trunk/include/spi.h -text
epos2trunk/include/synchronizer.h -text
epos2trunk/include/system.h -text
epos2trunk/include/system/config.h -text
epos2trunk/include/system/info.h -text
epos2trunk/include/system/memory_map.h -text
epos2trunk/include/system/meta.h -text
epos2trunk/include/system/traits.h -text
epos2trunk/include/system/types.h -text
epos2trunk/include/task.h -text
epos2trunk/include/tcp.h -text
epos2trunk/include/thread.h -text
epos2trunk/include/timer.h -text
epos2trunk/include/transducer.h -text
epos2trunk/include/tsc.h -text
epos2trunk/include/tstp.h -text
epos2trunk/include/uart.h -text
epos2trunk/include/udp.h -text
epos2trunk/include/usb.h -text
epos2trunk/include/utility/array.h -text
# epos2trunk/include/utility/closure.h eol=lf
epos2trunk/include/utility/bignum.h -text
epos2trunk/include/utility/bitmap.h -text
epos2trunk/include/utility/buffer.h -text
epos2trunk/include/utility/crc.h -text
epos2trunk/include/utility/debug.h -text
epos2trunk/include/utility/diffie_hellman.h -text
epos2trunk/include/utility/elf-linux.h -text
epos2trunk/include/utility/elf.h -text
epos2trunk/include/utility/geometry.h -text
epos2trunk/include/utility/handler.h -text
epos2trunk/include/utility/hash.h -text
epos2trunk/include/utility/heap.h -text
epos2trunk/include/utility/list.h -text
epos2trunk/include/utility/malloc.h -text
epos2trunk/include/utility/math.h -text
epos2trunk/include/utility/observer.h -text
epos2trunk/include/utility/ostream.h -text
epos2trunk/include/utility/poly1305.h -text
epos2trunk/include/utility/queue.h -text
epos2trunk/include/utility/random.h -text
epos2trunk/include/utility/spin.h -text
epos2trunk/include/utility/srec.h -text
epos2trunk/include/utility/string.h -text
epos2trunk/include/utility/vector.h -text
epos2trunk/include/watchdog.h -text
epos2trunk/makedefs -text
epos2trunk/makefile -text svneol=CRLF#unset
epos2trunk/src/architecture/armv7/armv7_crt0.S -text
epos2trunk/src/architecture/armv7/armv7_crtbegin.c -text
epos2trunk/src/architecture/armv7/armv7_crtend.c -text
epos2trunk/src/architecture/armv7/cpu.cc -text
epos2trunk/src/architecture/armv7/cpu_init.cc -text
epos2trunk/src/architecture/armv7/cpu_test.cc -text
epos2trunk/src/architecture/armv7/makefile -text
epos2trunk/src/architecture/armv7/mmu.cc -text
epos2trunk/src/architecture/armv7/mmu_init.cc -text
epos2trunk/src/architecture/armv7/pmu.cc -text
epos2trunk/src/architecture/armv7/pmu_init.cc -text
epos2trunk/src/architecture/armv7/tsc.cc -text
epos2trunk/src/architecture/armv7/tsc_init.cc -text
epos2trunk/src/architecture/ia32/cpu.cc -text
epos2trunk/src/architecture/ia32/cpu_init.cc -text
epos2trunk/src/architecture/ia32/cpu_syscall.cc -text
epos2trunk/src/architecture/ia32/cpu_test.cc -text
epos2trunk/src/architecture/ia32/ia32_crt0.S -text
epos2trunk/src/architecture/ia32/ia32_crtbegin.c -text
epos2trunk/src/architecture/ia32/ia32_crtend.c -text
epos2trunk/src/architecture/ia32/makefile -text
epos2trunk/src/architecture/ia32/memchr.S -text
epos2trunk/src/architecture/ia32/memcmp.S -text
epos2trunk/src/architecture/ia32/memcpy.S -text
epos2trunk/src/architecture/ia32/memset.S -text
epos2trunk/src/architecture/ia32/mmu.cc -text
epos2trunk/src/architecture/ia32/mmu_init.cc -text
epos2trunk/src/architecture/ia32/pmu.cc -text
epos2trunk/src/architecture/ia32/pmu_init.cc -text
epos2trunk/src/architecture/ia32/pmu_test.cc -text
epos2trunk/src/architecture/ia32/pmu_test_traits.h -text
epos2trunk/src/architecture/ia32/strchr.S -text
epos2trunk/src/architecture/ia32/strlen.S -text
epos2trunk/src/architecture/makefile -text
epos2trunk/src/boot/makefile -text
epos2trunk/src/boot/pc_boot.S -text
epos2trunk/src/component/active_test.cc -text
epos2trunk/src/component/address_space.cc -text
epos2trunk/src/component/alarm.cc -text
epos2trunk/src/component/alarm_init.cc -text
epos2trunk/src/component/alarm_test.cc -text
epos2trunk/src/component/chronometer_test.cc -text
epos2trunk/src/component/cipher_test.cc -text
epos2trunk/src/component/condition.cc -text
epos2trunk/src/component/dhcp.cc -text
epos2trunk/src/component/guard.cc -text
epos2trunk/src/component/icmp.cc -text
epos2trunk/src/component/ip.cc -text
epos2trunk/src/component/ip_init.cc -text
epos2trunk/src/component/makefile -text
epos2trunk/src/component/mutex.cc -text
epos2trunk/src/component/mutex_test.cc -text
epos2trunk/src/component/network_init.cc -text
epos2trunk/src/component/page_coloring.cc -text
epos2trunk/src/component/page_coloring_init.cc -text
epos2trunk/src/component/page_coloring_test.cc -text
epos2trunk/src/component/page_coloring_test_traits.h -text
epos2trunk/src/component/periodic_thread_test.cc -text
epos2trunk/src/component/periodic_thread_test_traits.h -text
epos2trunk/src/component/scheduler_cedf_test_traits.h -text
epos2trunk/src/component/scheduler_dm_test_traits.h -text
epos2trunk/src/component/scheduler_edf_test_traits.h -text
epos2trunk/src/component/scheduler_gedf_test.cc -text
epos2trunk/src/component/scheduler_gedf_test_traits.h -text
epos2trunk/src/component/scheduler_llf_test.cc -text
epos2trunk/src/component/scheduler_llf_test_traits.h -text
epos2trunk/src/component/scheduler_pedf_test_traits.h -text
epos2trunk/src/component/scheduler_rm_test.cc -text
epos2trunk/src/component/scheduler_rm_test_traits.h -text
epos2trunk/src/component/scheduling_criteria.cc -text
epos2trunk/src/component/segment.cc -text
epos2trunk/src/component/segment_test.cc -text
epos2trunk/src/component/segment_test_traits.h -text
epos2trunk/src/component/semaphore.cc -text
epos2trunk/src/component/smart_data_test.cc -text
epos2trunk/src/component/smart_data_test_traits.h -text
epos2trunk/src/component/system_init.cc -text
epos2trunk/src/component/task.cc -text
epos2trunk/src/component/tcp.cc -text
epos2trunk/src/component/thread.cc -text
epos2trunk/src/component/thread_init.cc -text
epos2trunk/src/component/thread_test.cc -text
epos2trunk/src/component/tstp.cc -text
epos2trunk/src/component/tstp_init.cc -text
epos2trunk/src/component/udp.cc -text
epos2trunk/src/init/init_application.cc -text
epos2trunk/src/init/init_first.cc -text
epos2trunk/src/init/init_system.cc -text
epos2trunk/src/init/makefile -text
epos2trunk/src/machine/common/makefile -text
epos2trunk/src/machine/common/rtc_common.cc -text
epos2trunk/src/machine/common/scratchpad_common.cc -text
epos2trunk/src/machine/common/serial_display.cc -text
epos2trunk/src/machine/common/serial_keyboard.cc -text
epos2trunk/src/machine/cortex/cc2538.cc -text
epos2trunk/src/machine/cortex/cc2538_init.cc -text
epos2trunk/src/machine/cortex/cc2538_test.cc -text
epos2trunk/src/machine/cortex/cc2538_test_traits.h -text
epos2trunk/src/machine/cortex/emote3_init.cc -text
epos2trunk/src/machine/cortex/gpio.cc -text
epos2trunk/src/machine/cortex/ic.cc -text
epos2trunk/src/machine/cortex/ic_init.cc -text
epos2trunk/src/machine/cortex/lm3s811_init.cc -text
epos2trunk/src/machine/cortex/machine.cc -text
epos2trunk/src/machine/cortex/machine_init.cc -text
epos2trunk/src/machine/cortex/makefile -text
epos2trunk/src/machine/cortex/nic_init.cc -text
epos2trunk/src/machine/cortex/rs485_test.cc -text
epos2trunk/src/machine/cortex/timer.cc -text
epos2trunk/src/machine/cortex/timer_init.cc -text
epos2trunk/src/machine/cortex/usb.cc -text
epos2trunk/src/machine/cortex/usb_init.cc -text
epos2trunk/src/machine/cortex/zynq_init.cc -text
epos2trunk/src/machine/makefile -text
epos2trunk/src/machine/pc/display.cc -text
epos2trunk/src/machine/pc/e100.cc -text
epos2trunk/src/machine/pc/e100_init.cc -text
epos2trunk/src/machine/pc/fpga.cc -text
epos2trunk/src/machine/pc/fpga_init.cc -text
epos2trunk/src/machine/pc/ic.cc -text
epos2trunk/src/machine/pc/ic_entry.cc -text
epos2trunk/src/machine/pc/ic_init.cc -text
epos2trunk/src/machine/pc/info.cc -text
epos2trunk/src/machine/pc/keyboard.cc -text
epos2trunk/src/machine/pc/keyboard_init.cc -text
epos2trunk/src/machine/pc/machine.cc -text
epos2trunk/src/machine/pc/machine_init.cc -text
epos2trunk/src/machine/pc/makefile -text
epos2trunk/src/machine/pc/nic_init.cc -text
epos2trunk/src/machine/pc/nic_test.cc -text
epos2trunk/src/machine/pc/nic_test_traits.h -text
epos2trunk/src/machine/pc/pci.cc -text
epos2trunk/src/machine/pc/pci_init.cc -text
epos2trunk/src/machine/pc/pci_test.cc -text
epos2trunk/src/machine/pc/pcnet32.cc -text
epos2trunk/src/machine/pc/pcnet32_init.cc -text
epos2trunk/src/machine/pc/rtc.cc -text
epos2trunk/src/machine/pc/rtc_test.cc -text
epos2trunk/src/machine/pc/scratchpad_init.cc -text
epos2trunk/src/machine/pc/timer.cc -text
epos2trunk/src/machine/pc/timer_init.cc -text
epos2trunk/src/machine/pc/timer_test.cc -text
epos2trunk/src/machine/pc/uart_test.cc -text
epos2trunk/src/makefile -text
epos2trunk/src/setup/cortex_setup.S -text
epos2trunk/src/setup/makefile -text
epos2trunk/src/setup/pc_setup.cc -text
epos2trunk/src/system/application_binding.cc -text
epos2trunk/src/system/application_scaffold.cc -text
epos2trunk/src/system/kernel_binding.cc -text
epos2trunk/src/system/makefile -text
epos2trunk/src/system/system_binding.cc -text
epos2trunk/src/system/system_scaffold.cc -text
epos2trunk/src/utility/aes.cc -text
epos2trunk/src/utility/bignum.cc -text
epos2trunk/src/utility/bignum_test.cc -text
epos2trunk/src/utility/elf.cc -text
epos2trunk/src/utility/handler_test.cc -text
epos2trunk/src/utility/hash_test.cc -text
epos2trunk/src/utility/heap.cc -text
epos2trunk/src/utility/list_test.cc -text
epos2trunk/src/utility/makefile -text
epos2trunk/src/utility/malloc.cc -text
epos2trunk/src/utility/malloc_test.cc -text
epos2trunk/src/utility/ostream.cc -text
epos2trunk/src/utility/ostream_test.cc -text
epos2trunk/src/utility/queue_test.cc -text
epos2trunk/src/utility/random.cc -text
epos2trunk/src/utility/srec.cc -text
epos2trunk/src/utility/string.cc -text
epos2trunk/src/utility/vector_test.cc -text
epos2trunk/timer_calculator.sh eol=lf
epos2trunk/tools/eposcc/eposcc -text
epos2trunk/tools/eposcc/makefile -text
epos2trunk/tools/eposcfg/eposcfg.cc -text
epos2trunk/tools/eposcfg/makefile -text
epos2trunk/tools/eposflash/emote3-bootloader.hex -text
epos2trunk/tools/eposflash/emote3-led_blink.hex -text
epos2trunk/tools/eposflash/eposflash-emote3 -text
epos2trunk/tools/eposflash/eposflash-zynq -text
epos2trunk/tools/eposflash/makefile -text
epos2trunk/tools/eposflash/zynq-base_xmd.ini -text
epos2trunk/tools/eposflash/zynq-ps7_init.tcl -text
epos2trunk/tools/eposflash/zynq-xmd.ini -text
epos2trunk/tools/eposiotgw/gateway_daemon.egg-info/PKG-INFO -text
epos2trunk/tools/eposiotgw/gateway_daemon.egg-info/SOURCES.txt -text
epos2trunk/tools/eposiotgw/gateway_daemon.egg-info/dependency_links.txt -text svneol=unset#application/octet-stream
epos2trunk/tools/eposiotgw/gateway_daemon.egg-info/entry_points.txt -text
epos2trunk/tools/eposiotgw/gateway_daemon.egg-info/requires.txt -text
epos2trunk/tools/eposiotgw/gateway_daemon.egg-info/top_level.txt -text
epos2trunk/tools/eposiotgw/gateway_daemon/__init__.py -text
epos2trunk/tools/eposiotgw/gateway_daemon/__main__.py -text
epos2trunk/tools/eposiotgw/gateway_daemon/http.py -text
epos2trunk/tools/eposiotgw/gateway_daemon/modbus/__init__.py -text
epos2trunk/tools/eposiotgw/gateway_daemon/modbus/tests.py -text
epos2trunk/tools/eposiotgw/gateway_daemon/mote/__init__.py -text
epos2trunk/tools/eposiotgw/gateway_daemon/serial.py -text
epos2trunk/tools/eposiotgw/gateway_daemon/wsn.py -text
epos2trunk/tools/eposiotgw/get-pip.py -text
epos2trunk/tools/eposiotgw/kill_server.sh -text
epos2trunk/tools/eposiotgw/makefile -text
epos2trunk/tools/eposiotgw/setup.py -text
epos2trunk/tools/eposmkbi/eposmkbi.cc -text
epos2trunk/tools/eposmkbi/makefile -text
epos2trunk/tools/epossectst/eposbignumtst.py -text
epos2trunk/tools/epossectst/makefile -text
epos2trunk/tools/makefile -text
/wikipage.tiki -text
